.admin{
  display: flex;
  height: 100vh;
  .admin-left{
    width: 200px;
    background: red;
    height: 100vh;
  }
  .admin-right{
    flex: 1;
    background: blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .admin-right-top{
      width: 100%;
      height: 100px;
    }
    .admin-right-center{
      background: #fff;
      flex:1;
    }
    .admin-right-footer{
      width: 100%;
      height: 100px;
    }
  }
}